header {
  background-color: var(--dark-bg);
  display: flex;
  justify-content: space-between;
  height: 38px;
  align-items: center;
  padding: 2px 10px;
  font-size: 14pt;
  filter: drop-shadow(0 1px 2px black);
  position: sticky;
  top: 0;
  z-index: 1;
}

header > div a {
  color: var(--white);
  font-weight: bold;
  font-size: 15pt;
  text-decoration: none;
}

header > div a:hover {
  color: var(--blue-accent);
  transition: all 0.4s ease-out;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav li a {
    display: block;
    width: 100%;
    height: 1.2em;
    transition: background-color 1s ease-out;
  }

  nav li a:hover {
    color: var(--white);
    background-color: var(--light-bg);
  }

  nav li a:active {
    color: var(--white);
    background-color: var(--light-bg);
  }

  /*Hamburger Menu classes*/
  .navbar {
    background-color: var(--darker-bg);
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 100%;
    height: 100px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
    width: 28px;
    height: 25px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .line {
    background-color: var(--grey);
    border-radius: 5px;
    width: 95%;
    height: 3px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .toggle-hamburger .line-1 {
    transform: rotateZ(-45deg) translate(-10px);
  }

  .toggle-hamburger .line-2 {
    opacity: 0;
  }

  .toggle-hamburger .line-3 {
    transform: rotateZ(45deg) translate(-10px);
  }
}

@media (min-width: 768px) {
  nav li {
    display: inline-block;
    margin-left: 15px;
  }

  nav li a:hover {
    color: var(--purple);
    border-color: inherit;
  }

  nav li a:active {
    color: var(--purple);
    transition: none;
  }
}

